.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon?

.idea
.venv
__pycache__
.env
.claude
.vscode

.*.pyc
*.log
dist

turing-game/build/
turing-game/vendor/
turing-game/site/game/

.coverage
*.bkp

.ruff_cache/
.pytest_cache/
